<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmonitorapp0.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e88b36e5-6f8a-4a6d-909f-ebe94bd03a66/resourcegroups/LBWebhookRG/providers/Microsoft.Web/sites/GithubMonitorApp0</ResourceId>
    <UserName>$GithubMonitorApp0</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://githubmonitorapp0.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>